<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Employee List</title>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div th:replace="~{component/header :: header}"></div>

    <h1>Employee List</h1>
    <a th:href="@{'/employees/add'}">add employees</a>
    <a
      th:href="@{/employees/export-csv(firstname=${filterValues.firstname}, lastname=${filterValues.lastname}, job=${filterValues.job})}"
      >Export as CSV</a
    >

    <!--   filter  -->
    <form action="/employees" method="get" th:object="${filterValues}">
      <div>
        <label for="firstname">Firstname</label>
        <input
          id="firstname"
          placeholder="Firstname"
          th:field="*{firstname}"
          type="text"
        />
      </div>

      <div>
        <label for="lastname">Lastname</label>
        <input
          id="lastname"
          placeholder="Lastname"
          th:field="*{lastname}"
          type="text"
        />
      </div>

      <div>
        <label for="job">Job role:</label>
        <select id="job" th:field="*{job}">
          <option value="">-- Select job role --</option>
          <option
            th:each="job : ${jobRoles}"
            th:text="${job.name}"
            th:value="${job.id}"
          ></option>
        </select>
      </div>

      <div>
        <label for="sort">Sorting direction:</label>
        <select id="sort" th:field="*{sort}">
          <option value="">-- Sorting direction --</option>
          <option value="ASC">Ascending</option>
          <option value="DESC">Descending</option>
        </select>
      </div>

      <button type="submit">Filter</button>
    </form>

    <div th:if="${employees.size() == 0}">No employee to show</div>
    <table th:if="${employees.size() > 0}">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Job</th>
          <th>email</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="employee : ${employees}">
          <td th:text="${employee.firstname}"></td>
          <td th:text="${employee.lastname}"></td>
          <td th:text="${employee.birthdate}"></td>
          <td th:text="${employee.jobRole.name}"></td>
          <td th:text="${employee.proEmail}"></td>
          <td>
            <a th:href="${'/employees/show/' + employee.matriculate}">view</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
