<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Employee File</title>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
  </head>
  <body>
    <div class="content">
      <div class="title">
        <h1 th:text="${employee.firstname}"></h1>
        <img
          alt="Aucune image"
          th:src="'data:image/jpeg;base64,' + ${employee.photo}"
        />
        <span class="edit-btn"
          ><a th:href="@{'/employees/' + ${employee.matriculate} + '/update'}"
            >Edit</a
          >
        </span>
      </div>
      <div class="first-container">
        <p>
          <span class="attribute">Prénom : </span
          ><span th:text="${employee.firstname}"></span>
        </p>
        <p>
          <span class="attribute">Nom : </span
          ><span th:text="${employee.lastname}"></span>
        </p>
        <p>
          <span class="attribute">Date de naissance : </span
          ><span th:text="${employee.birthdate}"></span>
        </p>
        <p>
          <span class="attribute">Sexe : </span
          ><span th:text="${employee.sex}"></span>
        </p>
        <p>
          <span class="attribute">Numéro de Tel: </span
          ><span th:text="${employee.phone}"></span>
        </p>
        <p>
          <span class="attribute">Adresse : </span
          ><span th:text="${employee.address}"></span>
        </p>
        <p><span class="attribute">Job role :</span></p>
        <span th:text="${employee.jobRole.name}"></span>
      </div>
      <p>
        <span class="attribute">Professional email : </span
        ><span th:text="${employee.proEmail}"></span>
      </p>
      <p>
        <span class="attribute">Personal email : </span
        ><span th:text="${employee.personalEmail}"></span>
      </p>
      <p>
        <span class="attribute">Hiring date: </span
        ><span th:text="${employee.hireDate}"></span>
      </p>
      <p>
        <span class="attribute">Departure date: </span
        ><span th:text="${employee.departureDate}"></span>
      </p>
      <p>
        <span class="attribute">Socio-professional category: </span
        ><span th:text="${employee.socioProCategory.name}"></span>
      </p>
      <p>
        <span class="attribute">National card n°: </span
        ><span th:text="${employee.nationalCard.number}"></span>
      </p>
      <p>
        <span class="attribute">N° CNaps : </span
        ><span th:text="${employee.cnapsNumber}"></span>
      </p>
    </div>
  </body>
</html>
