<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Update Employee</title>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
  </head>
  <body>
    <div th:replace="~{component/header :: header}"></div>

    <h1>Update Employee</h1>
    <form
      enctype="multipart/form-data"
      method="post"
      th:action="@{/employees/update}"
      th:object="${employee}"
    >
      <label for="matriculate">Matriculate:</label>
      <input
        id="matriculate"
        readonly
        required
        th:field="*{matriculate}"
        type="text"
      />
      <br />

      <label for="firstName">First Name:</label>
      <input id="firstName" required th:field="*{firstname}" type="text" />
      <br />

      <label for="lastName">Last Name:</label>
      <input id="lastName" required th:field="*{lastname}" type="text" />
      <br />

      <label for="dateOfBirth">Date of Birth:</label>
      <input
        id="dateOfBirth"
        pattern="yyyy-MM-dd"
        required
        th:field="*{birthdate}"
        type="date"
      />
      <br />

      <label for="sex">Sex:</label>
      <select id="sex" required th:field="*{sex}">
        <option th:value="M">Male</option>
        <option th:value="F">Female</option>
      </select>
      <br />

      <label for="phoneNbr">Phone Number:</label>
      <input id="phoneNbr" required th:field="*{phone}" type="text" />
      <br />

      <label for="address">Address:</label>
      <input id="address" required th:field="*{address}" type="text" />
      <br />

      <label for="photo">Identity Photo:</label>
      <input id="photo" name="photo" th:field="*{photo}" type="file" />
      <br />

      <label for="beggingDate">Hiring Date:</label>
      <input
        id="beggingDate"
        pattern="yyyy-MM-dd"
        required
        th:field="*{hireDate}"
        type="date"
      />
      <br />

      <label for="outDate">Departure Date:</label>
      <input
        id="outDate"
        pattern="yyyy-MM-dd"
        th:field="*{departureDate}"
        type="date"
      />
      <br />

      <label for="emailPerso">Personal Email:</label>
      <input
        id="emailPerso"
        required
        th:field="*{personalEmail}"
        type="email"
      />
      <br />

      <label for="emailPro">Professional Email:</label>
      <input id="emailPro" required th:field="*{proEmail}" type="email" />
      <br />

      <label for="dependents">Number of Children:</label>
      <input id="dependents" required th:field="*{dependents}" type="number" />
      <br />

      <label for="socioPro">Socio-Professional Category:</label>
      <select
        id="socioPro"
        required
        th:field="*{socioPro}"
        th:value="*{socioPro}"
      >
        <option value="">-- Select Socio-Professional Category --</option>
        <option
          th:each="spc : ${socioProCategories}"
          th:text="${spc.name}"
          th:value="${spc.id}"
        ></option>
      </select>
      <br />

      <label for="job_role">Job role:</label>
      <select
        id="job_role"
        required
        th:field="*{jobRole}"
        th:value="*{jobRole}"
      >
        <option value="">-- Select Job role --</option>
        <option
          th:each="jr : ${jobRoles}"
          th:text="${jr.name}"
          th:value="${jr.id}"
        ></option>
      </select>
      <br />

      <label for="cin">National Card:</label>
      <input id="cin" required th:field="*{cinNumber}" type="text" />
      <br />

      <label for="cinPlace">National Card Place:</label>
      <input
        id="cinPlace"
        required
        th:field="*{cinPlaceIssue}"
        th:value="*{cinPlaceIssue}"
        type="text"
      />
      <br />

      <label for="cinDate">National Card Date:</label>
      <input
        id="cinDate"
        pattern="yyyy-MM-dd"
        th:field="*{cinDateIssue}"
        th:value="*{cinDateIssue}"
        type="date"
      />
      <br />

      <label for="cnaps_number">CNAPS Number:</label>
      <input id="cnaps_number" required th:field="*{cnapsNumber}" type="text" />
      <br />

      <button type="submit">Update</button>
    </form>

    <a th:href="@{'/employees/show/' + employee.matriculate}">< back</a>
  </body>
</html>
